@model object
@{
    ViewBag.Title = "Home";
}
<link rel="stylesheet" href="~/css/index.css">
<audio id="gameAudio" style="display:none" controls="controls" autoplay="1" loop>
    <source src="~/audio/gameaudio.mp3" type="audio/mpeg" />
</audio>
<script src="~/js/Audio.js"></script>
<div class="centered">
    
    <a href="@Url.Action("TicTacToe", "Game")">
        <button>Play now!</button>

    </a>

</div>

